%h1 Волшебник: Шаг 3

%p
  Спасибо!

%p
  Результаты работы мастера:

%table
  %tr
    %th
      Фамилия
    %th
      Имя

  %tr
    %td
      = @user_info.surname
      
    %td
      = @user_info.name
